Repository Whisparr/Whisparr, pull requests merged in 2024-11, with the labels that each got.

#184 Fixed: Sorting all sortable columns in studio/performer details
  frontend/src/Performer/Details/PerformerDetailsStudioConnector.js
  frontend/src/Studio/Details/StudioDetailsYearConnector.js
Labels: Area: UI

#288 New: Add Create Studio Service
  src/Whisparr.Api.V3/Studios/StudioController.cs
Labels: Area: API

#290 Fixed: Scene page breaking after deleting scenes
  frontend/src/Movie/Details/Credits/Cast/MovieCastPoster.js
  frontend/src/Movie/MovieImage.js
Labels: Area: UI

#292 New: Parse new format, [studio] title [dd.mm.yyyy, that is also used as a search term for the indexers
  src/NzbDrone.Core.Test/ParserTests/ParseMovieTitleFixture.cs
  src/NzbDrone.Core/DecisionEngine/Specifications/QueueSpecification.cs
  src/NzbDrone.Core/IndexerSearch/ReleaseSearchService.cs
  src/NzbDrone.Core/Indexers/Newznab/NewznabCapabilitiesProvider.cs
  src/NzbDrone.Core/Movies/Movie.cs
  src/NzbDrone.Core/Movies/Performers/AddPerformerService.cs
  src/NzbDrone.Core/Movies/Studios/AddStudioService.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: Area: Indexer, Area: Parser

#293 Fixed: StashDB Favorite Grphql and frequency to 12 hours
  src/NzbDrone.Core/ImportLists/StashDB/Favorite/StashDBFavoriteResources.cs
  src/NzbDrone.Core/ImportLists/StashDB/StashDBImportBase.cs
Labels: Area: Import Lists

#295 resolve an issue where adding a studio via the api wouldn't work
  src/Whisparr.Api.V3/Studios/StudioController.cs
Labels: Area: API

#304 Fixed: Scene title and performer columns should wrap
  frontend/src/Performer/Details/SceneRow.css
  frontend/src/Studio/Details/SceneRow.css
Labels: Area: UI

#305 [V3] Rename Folder Structure and not just the file.
  src/NzbDrone.Core.Test/MediaFiles/RenameMovieFileServiceFixture.cs
  src/NzbDrone.Core/History/HistoryService.cs
  src/NzbDrone.Core/MediaFiles/MovieFileMovingService.cs
  src/NzbDrone.Core/MediaFiles/MovieImport/Aggregation/AggregationService.cs
  src/NzbDrone.Core/Movies/MoviePathBuilder.cs
  src/NzbDrone.Core/Movies/RefreshMovieService.cs
  src/NzbDrone.Core/Organizer/FileNameBuilder.cs
Labels: Area: Organizer

#306 New: StashDB Favorite Filter tags
  src/NzbDrone.Core/ImportLists/StashDB/Favorite/StashDBFavoriteRequestGenerator.cs
  src/NzbDrone.Core/ImportLists/StashDB/Favorite/StashDBFavoriteResources.cs
  src/NzbDrone.Core/ImportLists/StashDB/Favorite/StashDBFavoriteSettings.cs
  src/NzbDrone.Core/ImportLists/StashDB/Studio/StashDBStudioResources.cs
  src/NzbDrone.Core/ImportLists/StashDB/Studio/StashDBStudioSettings.cs
Labels: Area: Import Lists

#309 Fixed: Import movie/scene filter to use cleanTitle and support stashId, tmdbId
  frontend/src/InteractiveImport/Movie/SelectMovieModalContent.tsx
  frontend/src/Movie/Movie.ts
Labels: Area: UI
