Repository Whisparr/Whisparr, pull requests merged in 2024-10, with the labels that each got.

#251 New: import list source stashdb favorites
  src/NzbDrone.Common/Cloud/WhisparrCloudRequestBuilder.cs
  src/NzbDrone.Core.Test/ImportListTests/StashDB/StashDBSettingsValidatorFixture.cs
  src/NzbDrone.Core/ImportLists/ImportListType.cs
  src/NzbDrone.Core/ImportLists/StashDB/FavoriteFilter.cs
  src/NzbDrone.Core/ImportLists/StashDB/SceneSort.cs
  src/NzbDrone.Core/ImportLists/StashDB/StashDBImport.cs
  src/NzbDrone.Core/ImportLists/StashDB/StashDBParser.cs
  src/NzbDrone.Core/ImportLists/StashDB/StashDBRequestGenerator.cs
  src/NzbDrone.Core/ImportLists/StashDB/StashDBResources.cs
  src/NzbDrone.Core/ImportLists/StashDB/StashDBSettings.cs
Labels: Area: Import Lists

#259 Get Information about a single Scene by stashId
  src/Whisparr.Api.V3/Movies/MovieController.cs
Labels: Area: API

#274 eros - retrieve single performer studio
  src/NzbDrone.Core/Movies/Performers/PerformerRepository.cs
  src/NzbDrone.Core/Movies/Performers/PerformerService.cs
  src/Whisparr.Api.V3/Performers/PerformerController.cs
  src/Whisparr.Api.V3/Studios/StudioController.cs
Labels: Area: API

#272 discord notifications embedded links hook to stashdb instead of themoviedb and trakt
  src/NzbDrone.Core/Notifications/Discord/Discord.cs
Labels: Area: Notifications

#277 Eros - Find Best Match
  src/NzbDrone.Core.Test/MovieTests/MovieServiceTests/FindByTitleFixture.cs
  src/NzbDrone.Core.Test/ParserTests/ParseMovieTitleFixture.cs
  src/NzbDrone.Core/Movies/MovieParseMatchType.cs
  src/NzbDrone.Core/Movies/MovieService.cs
  src/NzbDrone.Core/Parser/Parser.cs
  src/NzbDrone.Core/Parser/ParsingService.cs
Labels: Area: Parser

#276 Adjusted search behavior to also return results by Studio+Scene combo…
  src/NzbDrone.Core.Test/IndexerTests/NewznabTests/NewznabRequestGeneratorFixture.cs
  src/NzbDrone.Core/IndexerSearch/ReleaseSearchService.cs
  src/NzbDrone.Core/Indexers/FileList/FileListRequestGenerator.cs
  src/NzbDrone.Core/Indexers/Newznab/NewznabRequestGenerator.cs
Labels: Area: Indexer

#270 fix: #262; click on movie in search bar
  frontend/src/Components/Page/Header/MovieSearchInput.js
Labels: Area: UI

#261 FIx: Qbittorrent unknown download state issue
  src/NzbDrone.Core/Download/Clients/QBittorrent/QBittorrent.cs
Labels: Area: Download Clients
