Repository Whisparr/Whisparr, pull requests merged in 2024-03, with the labels that each got.

#169 Fixed: Scene sorting by date in performer/studio detail pages
  frontend/src/Performer/Details/PerformerDetailsStudioConnector.js
  frontend/src/Store/Actions/performerScenesActions.js
  frontend/src/Store/Actions/studioScenesActions.js
  frontend/src/Studio/Details/StudioDetailsYearConnector.js
Labels: Area: UI

#170 Fixed: Release Date using UTC
  src/Whisparr.Api.V3/Movies/MovieResource.cs
Labels: Area: API

#173 Fixed: V3 Sdebar Highlighting
  frontend/src/Components/Page/Sidebar/PageSidebar.js
Labels: Area: UI

#171 V3 yarn.lock update for caniuse-lite warning during frontend builds
  yarn.lock
Labels: Area: UI

#162 New: V3 Studio Title is now clickable from Movie/Scene Detail View
  frontend/src/Movie/Details/MovieDetails.css
  frontend/src/Movie/Details/MovieDetails.js
  frontend/src/Movie/Details/MovieStudioLink.js
Labels: Area: UI

#163 Fix: V3 Manual/Interactive Movie Import modal has alignment and UX issues
  frontend/src/InteractiveImport/Movie/SelectMovieModalContent.css
  frontend/src/InteractiveImport/Movie/SelectMovieModalContent.tsx
  frontend/src/InteractiveImport/Movie/SelectMovieModalTableHeader.css
  frontend/src/InteractiveImport/Movie/SelectMovieModalTableHeader.css.d.ts
  frontend/src/InteractiveImport/Movie/SelectMovieRow.css
  frontend/src/InteractiveImport/Movie/SelectMovieRow.css.d.ts
  frontend/src/InteractiveImport/Movie/SelectMovieRow.js
  frontend/src/Movie/Movie.ts
Labels: Area: UI

#166 V3 Scene Index table view fixes and tweaks
  frontend/src/Movie/Movie.ts
  frontend/src/Scene/Index/Table/SceneIndexRow.css
  frontend/src/Scene/Index/Table/SceneIndexRow.tsx
  frontend/src/Scene/Index/Table/SceneStatusCell.tsx
  frontend/src/Scene/SceneStudioTitleLink.js
Labels: Area: UI

#174 V3 header search revamp
  frontend/src/Components/Page/Header/MovieSearchInput.css
  frontend/src/Components/Page/Header/MovieSearchInput.css.d.ts
  frontend/src/Components/Page/Header/MovieSearchInput.js
  frontend/src/Components/Page/Header/MovieSearchInputConnector.js
  frontend/src/Components/Page/Header/MovieSearchResult.css
  frontend/src/Components/Page/Header/MovieSearchResult.css.d.ts
  frontend/src/Components/Page/Header/MovieSearchResult.js
  src/NzbDrone.Core/Localization/Core/en.json
Labels: Area: UI

#175 Fixed: V3 Scene and Performer covers/screenshots stretch
  frontend/src/Movie/Details/Credits/Cast/MovieCastPoster.js
  frontend/src/Movie/Details/MovieDetails.js
  frontend/src/Performer/Details/PerformerDetails.css
  frontend/src/Performer/Details/PerformerDetails.js
  frontend/src/Performer/Index/Posters/PerformerIndexPoster.tsx
  frontend/src/Scene/Index/Overview/SceneIndexOverview.tsx
  frontend/src/Scene/Index/Posters/SceneIndexPoster.tsx
Labels: Area: UI

#185 New: Added scene count to studio/performer detail pages
  frontend/src/Performer/Details/PerformerDetails.js
  frontend/src/Performer/Details/PerformerDetailsConnector.js
  frontend/src/Studio/Details/StudioDetails.js
  frontend/src/Studio/Details/StudioDetailsConnector.js
Labels: Area: UI

#183 Fix: V3 Allow the Studio Network token to be used in file/folder name
  src/NzbDrone.Core/MetadataSource/SkyHook/SkyHookProxy.cs
  src/NzbDrone.Core/Movies/MovieMetadata.cs
  src/NzbDrone.Core/Organizer/FileNameBuilder.cs
Labels: Area: Organizer

#191 Fixed: Links for TMDB or StashDB on Movie/Scene Detail page
  frontend/src/Movie/Details/MovieDetails.js
  frontend/src/Movie/Details/MovieDetailsLinks.js
  frontend/src/Movie/Index/Overview/MovieIndexOverview.tsx
  frontend/src/Movie/Index/Posters/MovieIndexPoster.tsx
  frontend/src/Movie/Index/Table/MovieIndexRow.tsx
Labels: Area: UI

#192 UnitTest for ParseMovieTitle
  src/NzbDrone.Core.Test/ParserTests/NormalizeTitleFixture.cs
  src/NzbDrone.Core.Test/ParserTests/ParseMovieTitleFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: Area: Parser

#190 Fixed: Moved ability to monitor Studio away from Performer view
  frontend/src/Components/MonitorToggleButton.js
  frontend/src/Performer/Details/PerformerDetailsStudio.css
  frontend/src/Performer/Details/PerformerDetailsStudio.css.d.ts
  frontend/src/Performer/Details/PerformerDetailsStudio.js
  src/NzbDrone.Core/Localization/Core/en.json
Labels: Area: UI
