Repository Whisparr/Whisparr, pull requests merged in 2025-04, with the labels that each got.

#445 New: 5K_6K_8K_Qualities Migration
  src/NzbDrone.Core/Datastore/Migration/006_5K_6K_8K_Qualities.cs
  src/NzbDrone.Core/Qualities/Quality.cs
Labels: Area: Db-migration

#452 Fix: Null check Scene Identification Data
  src/NzbDrone.Core/MediaFiles/MovieImport/Identification/IdentificationService.cs
  src/NzbDrone.Core/MediaFiles/SceneDiskScanService.cs
  src/NzbDrone.Core/Organizer/FileNameBuilder.cs
Labels: Area: Organizer

#451 New: Search for studios
  frontend/src/AddMovie/AddNewMovie/AddNewScene.js
  frontend/src/AddMovie/AddNewMovie/AddNewStudio/AddNewStudioModal.js
  frontend/src/AddMovie/AddNewMovie/AddNewStudio/AddNewStudioModalContent.css
  frontend/src/AddMovie/AddNewMovie/AddNewStudio/AddNewStudioModalContent.css.d.ts
  frontend/src/AddMovie/AddNewMovie/AddNewStudio/AddNewStudioModalContent.js
  frontend/src/AddMovie/AddNewMovie/AddNewStudio/AddNewStudioModalContentConnector.js
  frontend/src/AddMovie/AddNewMovie/AddNewStudio/AddNewStudioSearchResult.css
  frontend/src/AddMovie/AddNewMovie/AddNewStudio/AddNewStudioSearchResult.css.d.ts
  frontend/src/AddMovie/AddNewMovie/AddNewStudio/AddNewStudioSearchResult.js
  frontend/src/AddMovie/AddNewMovie/AddNewStudio/AddNewStudioSearchResultConnector.js
  frontend/src/Movie/MovieImage.js
  frontend/src/Store/Actions/addMovieActions.js
  frontend/src/Store/Actions/studioMoviesActions.js
  frontend/src/Store/Selectors/createExistingStudioSelector.ts
  frontend/src/Utilities/Studio/getNewStudio.js
  src/NzbDrone.Core/MetadataSource/SkyHook/SkyHookProxy.cs
  src/Whisparr.Api.V3/Search/SearchController.cs
  src/Whisparr.Api.V3/Search/SearchResource.cs
  src/Whisparr.Api.V3/Studios/StudioResource.cs
Labels: Area: API, Area: UI

#454 Add: Stash Notification Enhancement
  src/NzbDrone.Core/Notifications/Stash/Stash.cs
  src/NzbDrone.Core/Notifications/Stash/StashProxy.cs
  src/NzbDrone.Core/Notifications/Stash/StashService.cs
  src/NzbDrone.Core/Notifications/Stash/StashSettings.cs
Labels: Area: Notifications

#456 New: recreate the credit table
  src/NzbDrone.Core.Test/MovieTests/MovieServiceTests/FindByTitleFixture.cs
  src/NzbDrone.Core.Test/OrganizerTests/FileNameBuilderTests/FileNameBuilderFixture.cs
  src/NzbDrone.Core/Datastore/Migration/008_add_credits.cs
  src/NzbDrone.Core/Datastore/TableMapping.cs
  src/NzbDrone.Core/MetadataSource/SkyHook/SkyHookProxy.cs
  src/NzbDrone.Core/Movies/AddMovieService.cs
  src/NzbDrone.Core/Movies/Credits/Credit.cs
  src/NzbDrone.Core/Movies/Credits/CreditRepository.cs
  src/NzbDrone.Core/Movies/Credits/CreditService.cs
  src/NzbDrone.Core/Movies/MovieMetadata.cs
  src/NzbDrone.Core/Movies/MovieRepository.cs
  src/NzbDrone.Core/Movies/RefreshMovieService.cs
  src/Whisparr.Api.V3/Credits/CreditController.cs
  src/Whisparr.Api.V3/Credits/CreditResource.cs
  src/Whisparr.Api.V3/Movies/MovieResource.cs
  src/Whisparr.Api.V3/Performers/PerformerController.cs
  src/Whisparr.Api.V3/Performers/PerformerResource.cs
  src/Whisparr.Api.V3/Search/SearchResource.cs
  src/Whisparr.Api.V3/Studios/StudioController.cs
  src/Whisparr.Api.V3/Studios/StudioResource.cs
Labels: Area: API, Area: Db-migration

#462 Fix: local scene covers
  src/Whisparr.Api.V3/Movies/MovieController.cs
Labels: Area: API

#463 Fix: Load optimized image thumbnails on scene index view
  frontend/src/Scene/Index/Overview/SceneIndexOverview.tsx
  frontend/src/Scene/Index/Posters/SceneIndexPoster.tsx
Labels: Area: UI
