Repository Whisparr/Whisparr, pull requests merged in 2025-05, with the labels that each got.

#470 Add: Validate Runtime Parameter
  frontend/src/Settings/General/WhisparrSettings.js
  src/NzbDrone.Core/Configuration/ConfigService.cs
  src/NzbDrone.Core/Configuration/IConfigService.cs
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/MediaFiles/MovieImport/ImportDecisionMaker.cs
Labels: Area: UI

#464 New: Cache API to memory Movie and Performer Resources
  frontend/src/Settings/General/WhisparrSettings.js
  src/NzbDrone.Common/Cache/Cached.cs
  src/NzbDrone.Common/Cache/ICached.cs
  src/NzbDrone.Core/Configuration/ConfigService.cs
  src/NzbDrone.Core/Configuration/IConfigService.cs
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Movies/MovieService.cs
  src/NzbDrone.Core/Movies/Performers/PerformerRepository.cs
  src/NzbDrone.Core/Movies/Performers/PerformerService.cs
  src/Whisparr.Api.V3/Config/HostConfigResource.cs
  src/Whisparr.Api.V3/Movies/MovieController.cs
  src/Whisparr.Api.V3/Performers/PerformerController.cs
Labels: Area: API, Area: UI

#468 Add: Studio Monitor After Date + Studio Aliases / Scene Code
  frontend/src/Movie/Details/MovieDetails.css
  frontend/src/Movie/Details/MovieDetails.css.d.ts
  frontend/src/Movie/Details/MovieDetails.js
  frontend/src/Store/Actions/studioActions.js
  frontend/src/Studio/Details/StudioDetails.css
  frontend/src/Studio/Details/StudioDetails.css.d.ts
  frontend/src/Studio/Details/StudioDetails.js
  frontend/src/Studio/Edit/EditStudioModalContent.js
  frontend/src/Studio/Edit/EditStudioModalContentConnector.js
  frontend/src/Studio/Index/Table/StudioIndexRow.css
  frontend/src/Studio/Index/Table/StudioIndexRow.css.d.ts
  frontend/src/Studio/Index/Table/StudioIndexRow.tsx
  frontend/src/Studio/Studio.ts
  src/NzbDrone.Core/Datastore/Migration/009_studio_alases.cs
  src/NzbDrone.Core/ImportLists/ImportExclusions/ImportExclusionsRepository.cs
  src/NzbDrone.Core/ImportLists/ImportExclusions/ImportExclusionsService.cs
  src/NzbDrone.Core/IndexerSearch/ReleaseSearchService.cs
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/MetadataSource/SkyHook/Resource/MovieResource.cs
  src/NzbDrone.Core/MetadataSource/SkyHook/Resource/StudioResource.cs
  src/NzbDrone.Core/MetadataSource/SkyHook/SkyHookProxy.cs
  src/NzbDrone.Core/Movies/AddMovieService.cs
  src/NzbDrone.Core/Movies/MovieMetadata.cs
  src/NzbDrone.Core/Movies/RefreshMovieService.cs
  src/NzbDrone.Core/Movies/Studios/RefreshStudioService.cs
  src/NzbDrone.Core/Movies/Studios/Studio.cs
  src/NzbDrone.Core/Movies/Studios/StudioRepository.cs
  src/Whisparr.Api.V3/ImportLists/ImportExclusionsController.cs
  src/Whisparr.Api.V3/Movies/MovieResource.cs
  src/Whisparr.Api.V3/Studios/StudioResource.cs
Labels: Area: API, Area: Db-migration, Area: Import Lists, Area: UI

#476 Fix: Studio Aliases
  src/NzbDrone.Core/Movies/Studios/Studio.cs
  src/Whisparr.Api.V3/Studios/StudioResource.cs
Labels: Area: API
