Repository Whisparr/Whisparr, pull requests merged in 2025-03, with the labels that each got.

#323 New: Add Studio Performer Exclusions
  frontend/src/Performer/Delete/DeletePerformerModal.js
  frontend/src/Performer/Delete/DeletePerformerModalConnector.js
  frontend/src/Performer/Delete/DeletePerformerModalContent.js
  frontend/src/Performer/Delete/DeletePerformerModalContentConnector.js
  frontend/src/Performer/Details/PerformerDetails.js
  frontend/src/Settings/ImportLists/ImportListExclusions/EditImportListExclusionModalContent.js
  frontend/src/Settings/ImportLists/ImportListExclusions/EditImportListExclusionModalContentConnector.js
  frontend/src/Settings/ImportLists/ImportListExclusions/ImportListExclusion.css
  frontend/src/Settings/ImportLists/ImportListExclusions/ImportListExclusion.css.d.ts
  frontend/src/Settings/ImportLists/ImportListExclusions/ImportListExclusion.js
  frontend/src/Settings/ImportLists/ImportListExclusions/ImportListExclusions.css
  frontend/src/Settings/ImportLists/ImportListExclusions/ImportListExclusions.css.d.ts
  frontend/src/Settings/ImportLists/ImportListExclusions/ImportListExclusions.js
  frontend/src/Store/Actions/performerActions.js
  frontend/src/Store/Actions/studioActions.js
  frontend/src/Studio/Delete/DeleteStudioModal.js
  frontend/src/Studio/Delete/DeleteStudioModalConnector.js
  frontend/src/Studio/Delete/DeleteStudioModalContent.js
  frontend/src/Studio/Delete/DeleteStudioModalContentConnector.js
  frontend/src/Studio/Details/StudioDetails.js
  frontend/src/Studio/Edit/EditStudioModalContent.js
  frontend/src/Studio/Edit/EditStudioModalContentConnector.js
  src/NzbDrone.Core/Datastore/Migration/005_import_exclusion_type.cs
  src/NzbDrone.Core/ImportLists/ImportExclusions/ImportExclusion.cs
  src/NzbDrone.Core/ImportLists/ImportExclusions/ImportExclusionType.cs
  src/NzbDrone.Core/ImportLists/ImportExclusions/ImportExclusionsService.cs
  src/NzbDrone.Core/IndexerSearch/ReleaseSearchService.cs
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Movies/AddMovieService.cs
  src/NzbDrone.Core/Movies/Studios/Studio.cs
  src/NzbDrone.Core/Movies/Studios/StudioRepository.cs
  src/Whisparr.Api.V3/ImportLists/ImportExclusionsController.cs
  src/Whisparr.Api.V3/ImportLists/ImportExclusionsResource.cs
  src/Whisparr.Api.V3/Performers/PerformerController.cs
  src/Whisparr.Api.V3/Studios/StudioController.cs
  src/Whisparr.Api.V3/Studios/StudioResource.cs
Labels: Area: API, Area: Db-migration, Area: Import Lists, Area: UI

#392 V3 CSS Modifications
  frontend/src/Movie/MovieImage.css
Labels: Area: UI

#393 Changed studio link in SceneIndexRow from white to defaultColor
  frontend/src/Scene/Index/Table/SceneIndexRow.css
Labels: Area: UI

#394 Expand/Collapse All to Studio Page
  frontend/src/Studio/Details/StudioDetails.js
Labels: Area: UI

#395 Feature: expand/collapse all performers
  frontend/src/Performer/Details/PerformerDetails.js
Labels: Area: UI

#400 V3: Return To Performers Page After Deletion Of Performer
  frontend/src/Performer/Delete/DeletePerformerModalContentConnector.js
Labels: Area: UI

#405 Fix: Reposition Performer Delete Button On Left Side
  frontend/src/Performer/Details/PerformerDetails.js
Labels: Area: UI

#406 Fix: Scene detail sometimes hid year / studio / duration
  frontend/src/Movie/Details/MovieDetails.css
Labels: Area: UI

#409 New: Filter StashDB List after Date
  frontend/src/Components/Form/DateInput.css
  frontend/src/Components/Form/DateInput.css.d.ts
  frontend/src/Components/Form/DateInput.js
  frontend/src/Components/Form/FormInputGroup.js
  frontend/src/Components/Form/ProviderFieldFormGroup.js
  frontend/src/Helpers/Props/inputTypes.js
  src/NzbDrone.Core/Annotations/FieldDefinitionAttribute.cs
  src/NzbDrone.Core/ImportLists/StashDB/Favorite/StashDBFavoriteRequestGenerator.cs
  src/NzbDrone.Core/ImportLists/StashDB/Favorite/StashDBFavoriteResources.cs
  src/NzbDrone.Core/ImportLists/StashDB/Performer/StashDBPerformerRequestGenerator.cs
  src/NzbDrone.Core/ImportLists/StashDB/Performer/StashDBPerformerResources.cs
  src/NzbDrone.Core/ImportLists/StashDB/StashDBResourcesBase.cs
  src/NzbDrone.Core/ImportLists/StashDB/StashDBSettingsBase.cs
  src/NzbDrone.Core/ImportLists/StashDB/Studio/StashDBStudioRequestGenerator.cs
  src/NzbDrone.Core/ImportLists/StashDB/Studio/StashDBStudioResources.cs
Labels: Area: Import Lists, Area: UI

#407 New: Parse JAV
  src/NzbDrone.Core.Test/MovieTests/MovieServiceTests/FindByTitleFixture.cs
  src/NzbDrone.Core.Test/ParserTests/ParseMovieTitleFixture.cs
  src/NzbDrone.Core/Movies/MovieService.cs
  src/NzbDrone.Core/Parser/Model/ParsedMovieInfo.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: Area: Parser

#334 V3 - Fix: Set Scenes as default page and hide scene import in sidebar
  frontend/src/App/AppRoutes.js
  frontend/src/Components/Page/Sidebar/PageSidebar.js
Labels: Area: UI

#410 V3 - Fixed: Re-work Import List table view in Settings
  frontend/src/Settings/ImportLists/ImportListExclusions/ImportListExclusion.css
  frontend/src/Settings/ImportLists/ImportListExclusions/ImportListExclusions.css
  frontend/src/Settings/ImportLists/ImportListExclusions/ImportListExclusions.js
Labels: Area: UI

#412 Fix: JAV Patterns
  src/NzbDrone.Core/DecisionEngine/DownloadDecisionMaker.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: Area: Parser

#414 Fixed: Reroute movie after a movie is deleted.
  frontend/src/Movie/Details/MovieDetailsPageConnector.js
Labels: Area: UI

#420 Fix: Clean Title (apostrophe and emoji)
  src/NzbDrone.Core.Test/OrganizerTests/FileNameBuilderTests/CleanTitleFixture.cs
  src/NzbDrone.Core/Organizer/FileNameBuilder.cs
Labels: Area: Organizer

#415 New: 5K, 6K, and 8K Quality Profiles
  frontend/src/Settings/Profiles/Quality/QualityProfileItems.js
  src/NzbDrone.Core/Profiles/Qualities/QualityProfile.cs
  src/NzbDrone.Core/Profiles/Qualities/QualityProfileService.cs
  src/NzbDrone.Core/Qualities/Quality.cs
Labels: Area: UI

#419 V3 Fix: Hide interactive search on Performer and Studio
  frontend/src/Performer/Details/PerformerDetails.js
  frontend/src/Studio/Details/StudioDetails.js
  src/NzbDrone.Core/Localization/Core/en.json
Labels: Area: UI

#422 NEW: Add Monitor/Unmonitor All To Studio Page
  frontend/src/Studio/Details/StudioDetailsYear.js
Labels: Area: UI

#411 V3 - Chore: caniuse-lite update
  yarn.lock
Labels: Area: UI

#429 FIX: Remove Interactive Search From Years Within Studio page
  frontend/src/Studio/Details/StudioDetailsYear.js
Labels: Area: UI

#430 FIX: Remove Interactive Search from PerformerDetailsStudio
  frontend/src/Performer/Details/PerformerDetailsStudio.js
Labels: Area: UI

#438 Fix: studio performer performance
  frontend/src/Components/Delayed.js
  frontend/src/Performer/Details/PerformerDetails.js
  frontend/src/Performer/Details/PerformerDetailsStudioConnector.js
  frontend/src/Store/Actions/movieActions.js
  frontend/src/Studio/Details/StudioDetails.js
  frontend/src/Studio/Details/StudioDetailsYearConnector.js
Labels: Area: UI

#437 NEW: Add `{Scene PerformersMale}` Naming Token + Limit all Performer Tokens to 4
  src/NzbDrone.Core/Organizer/FileNameBuilder.cs
Labels: Area: Organizer

#442 Fix: Sorting of Scenes on Performer/Studio Details
  frontend/src/Performer/Details/PerformerDetailsStudioConnector.js
  frontend/src/Studio/Details/StudioDetailsYearConnector.js
Labels: Area: UI

#443 Fix: Adding `{Scene PerformersMale}` to Rename UI
  frontend/src/Settings/MediaManagement/Naming/NamingModal.js
Labels: Area: UI

#441 Fix: remove scene navigation to improve performance
  frontend/src/Movie/Details/MovieDetails.js
  frontend/src/Movie/Details/MovieDetailsConnector.js
Labels: Area: UI
