Repository Whisparr/Whisparr, pull requests merged in 2025-06, with the labels that each got.

#482 New: Performer Aliases Naming Token
  frontend/src/Settings/MediaManagement/Naming/NamingModal.js
  src/NzbDrone.Core.Test/OrganizerTests/FileNameBuilderTests/FileNameBuilderFixture.cs
  src/NzbDrone.Core/Organizer/FileNameBuilder.cs
Labels: Area: Organizer, Area: UI

#498 Fix: Build openapi.json
  src/Whisparr.Api.V3/Performers/PerformerController.cs
  src/Whisparr.Api.V3/Performers/PerformerResource.cs
  src/Whisparr.Api.V3/Search/SearchController.cs
  src/Whisparr.Api.V3/Studios/StudioController.cs
  src/Whisparr.Api.V3/openapi.json
Labels: Area: API

#502 Add scene counts to performer/studio index views, custom filters
  frontend/src/Helpers/Props/filterBuilderValueTypes.js
  frontend/src/Performer/Index/Table/PerformerIndexRow.css
  frontend/src/Performer/Index/Table/PerformerIndexRow.css.d.ts
  frontend/src/Performer/Index/Table/PerformerIndexRow.tsx
  frontend/src/Performer/Index/Table/PerformerIndexTableHeader.css
  frontend/src/Performer/Index/Table/PerformerIndexTableHeader.css.d.ts
  frontend/src/Performer/Performer.ts
  frontend/src/Store/Actions/performerActions.js
  frontend/src/Store/Actions/studioActions.js
  frontend/src/Studio/Index/Table/StudioIndexRow.css
  frontend/src/Studio/Index/Table/StudioIndexRow.css.d.ts
  frontend/src/Studio/Index/Table/StudioIndexRow.tsx
  frontend/src/Studio/Index/Table/StudioIndexTableHeader.css
  frontend/src/Studio/Index/Table/StudioIndexTableHeader.css.d.ts
  frontend/src/Studio/Studio.ts
  src/NzbDrone.Core/Localization/Core/en.json
Labels: Area: UI

#507 Fix: Studio Add After Date did not allow saving if cleared
  src/Whisparr.Api.V3/Studios/StudioResource.cs
Labels: Area: API

#508 Fix: Improve help text for scene import folder
  frontend/src/Settings/MediaManagement/Naming/Naming.js
Labels: Area: UI

#511 New: Dropdown to filter exclusion list by type, batch delete
  frontend/src/Settings/ImportLists/ImportListExclusions/ImportListExclusion.css
  frontend/src/Settings/ImportLists/ImportListExclusions/ImportListExclusion.css.d.ts
  frontend/src/Settings/ImportLists/ImportListExclusions/ImportListExclusion.js
  frontend/src/Settings/ImportLists/ImportListExclusions/ImportListExclusions.css
  frontend/src/Settings/ImportLists/ImportListExclusions/ImportListExclusions.css.d.ts
  frontend/src/Settings/ImportLists/ImportListExclusions/ImportListExclusions.js
  src/NzbDrone.Core/Localization/Core/en.json
Labels: Area: UI

#518 Fix: Studio logos use local cache
  frontend/src/Movie/MovieImage.js
Labels: Area: UI

#521 Fix: Studio index will fail to load if some studios have bad cover image data
  frontend/src/Movie/MovieImage.js
Labels: Area: UI

#522 New: Adding Scene Code as Naming Token
  frontend/src/Settings/MediaManagement/Naming/NamingModal.js
  src/NzbDrone.Core/Organizer/FileNameBuilder.cs
Labels: Area: Organizer, Area: UI

#525 New: Add tags to exclusion list
  frontend/src/Settings/ImportLists/ImportListExclusions/EditImportListExclusionModalContent.js
  frontend/src/Settings/ImportLists/ImportListExclusions/ImportListExclusions.js
  src/NzbDrone.Core/ImportLists/ImportExclusions/ImportExclusion.cs
  src/NzbDrone.Core/ImportLists/ImportExclusions/ImportExclusionType.cs
  src/NzbDrone.Core/ImportLists/ImportExclusions/ImportExclusionsService.cs
  src/NzbDrone.Core/Movies/AddMovieService.cs
Labels: Area: Import Lists, Area: UI

#528 Fix: import list sync level
  src/NzbDrone.Core.Test/ImportListTests/ImportListSyncServiceFixture.cs
  src/NzbDrone.Core/ImportLists/ImportListSyncService.cs
Labels: Area: Import Lists

#532 Fix invalid root folders in edit modals
  frontend/src/Performer/Edit/EditPerformerModalContent.js
  frontend/src/Studio/Edit/EditStudioModalContent.js
Labels: Area: UI

#533 Fix: Enhanced JAV Parsing
  src/NzbDrone.Core/Parser/Parser.cs
Labels: Area: Parser
